.c4{
    background-color: rgb(56,74,235);
    height: 750px;
    
}

.col-8{
    background-color: #f1f6f7;
    height: 750px;
}



.rw{
    width: 1110px;
    position: absolute;
    left:300px;

    .col-7{
padding: 6%;
padding-top: 12%;
    }
    .col-5{
        padding-top: 9.3%;
    }
}